<div>
  <div class="row d-flex justify-content-center">
    <h3 class="mb-4 text-center">LIST CUSTOMER</h3>
    <div class="col-5"></div>
    <div class="col-2">
      <a routerLink="/create" class="btn btn-outline-success">+ Add</a>
    </div>
    <div class="col-5"></div>
  </div>
</div>
<div class="col-md-10">
  <form>
    <div class="row mt-2 mb-2">
      <div class="col-md-2"></div>

      <div class="col-md-4 col-sm-12 align-items-center" style="float: left">
        <div class="row">
          <label class="col-md-4 col-sm-12 text-center mt-1" for="codeEmployee"><span>Mã Hộ Khẩu</span></label>
          <input class="col-md-8 col-sm-12 form-control select" type="search" id="codeEmployee"
                 name="maHoKhau" #maHoKhau placeholder="Mã hộ khẩu">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 align-items-center" style="float: left">
        <div class="row">
          <label class="col-md-4 text-center mt-1" for="nameEmployee"><span>Tên Chủ Hộ</span></label>
          <input class="col-md-8 form-control select" type="search" id="nameEmployee"
                 name="tenChuHo" #tenChuHo placeholder="Tên chủ hộ">
        </div>
      </div>
      <div class="col-md-2 col-sm-12 d-flex">
        <button class="btn button-css btn-outline-secondary buttonReset" type="button" (click)="reload()">
          <i class="fa-solid fa-arrows-rotate"></i>
          Làm mới
        </button>
        <button class="btn button-css btn-outline-danger buttonSearch ms-4" type="button"
                (click)="searchHoKhau(maHoKhau.value, tenChuHo.value, false)">
          <i class="fa-solid fa-magnifying-glass"></i>
          Tìm kiếm
        </button>
      </div>
    </div>

  </form>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8" style="border-top: 2px solid black">
    <div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Mã hộ khẩu</th>
          <th scope="col">Tên chủ hộ</th>
          <th scope="col">Số lượng thành viên</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let hoKhau of hoKhauInfo;index as i">
          <td>{{i + 1}}</td>
          <td>{{hoKhau.maHoKhau}}</td>
          <td>{{hoKhau.tenChuHo}}</td>
          <td>{{hoKhau.soLuongThanhVien}}</td>
          <td>{{hoKhau.diaChi}}</td>
          <td>
            <button [routerLink]="['/edit',hoKhau.id]" class="btn btn-danger">edit
            </button>
          </td>
          <td>
            <button (click)="temp = hoKhau" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
              delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style="min-height: 60px">
  <div *ngIf="hoKhauInfo.length != 0; else elseBlockPagination">
    <div *ngIf="hoKhauList" class="d-flex justify-content-center" id="last-row">
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [ngClass]="hoKhauList.first ? 'disabled': ''">
              <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
            </li>
            <li class="page-item" [ngClass]="hoKhauList.first ? 'disabled': ''">
              <a role="button" class="page-link" (click)="changePage(hoKhauList.number - 1)"><</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number - 3 > 0">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number - 4)">{{hoKhauList.number - 3}}</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number - 2 > 0">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number - 3)">{{hoKhauList.number - 2}}</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number - 1 > 0">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number - 2)">{{hoKhauList.number - 1}}</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number > 0">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number - 1)">{{hoKhauList.number}}</a>
            </li>
            <li class="page-item active"><a class="page-link">{{hoKhauList.number + 1}}</a></li>
            <li class="page-item" *ngIf="hoKhauList.number + 2 <= hoKhauList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number + 1)">{{hoKhauList.number + 2}}</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number + 3 <= hoKhauList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number + 2)">{{hoKhauList.number + 3}}</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number + 4 <= hoKhauList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number + 3)">{{hoKhauList.number + 4}}</a>
            </li>
            <li class="page-item" *ngIf="hoKhauList.number + 5 <= hoKhauList.totalPages">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number + 4)">{{hoKhauList.number + 5}}</a>
            </li>
            <li class="page-item" [ngClass]="hoKhauList.last ? 'disabled': ''">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.number + 1)">></a>
            </li>
            <li class="page-item" [ngClass]="hoKhauList.last ? 'disabled': ''">
              <a role="button" class="page-link"
                 (click)="changePage(hoKhauList.totalPages - 1)">
                Trang cuối
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <ng-template #elseBlockPagination style="color: red">Không có dữ liệu</ng-template>
</div>

<app-ho-khau-delete [hoKhau]="temp" (eventDelete)="reload()"></app-ho-khau-delete>


